# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [2]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'brainstation' : 10571,
'beginex' : 10546,
'uxer-school' : 11151  
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [3]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)

    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
brainstation
beginex
uxer-school

In [4]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

/var/folders/wf/ysxbv8152xb5ck7nz1ply8sw0000gp/T/ipykernel_37385/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

brainstation

/var/folders/wf/ysxbv8152xb5ck7nz1ply8sw0000gp/T/ipykernel_37385/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

beginex

/var/folders/wf/ysxbv8152xb5ck7nz1ply8sw0000gp/T/ipykernel_37385/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

uxer-school

/var/folders/wf/ysxbv8152xb5ck7nz1ply8sw0000gp/T/ipykernel_37385/1181667300.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  locations_df = json_normalize(locations)

In [5]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id        description  country.id    country.name country.abbrev  \
 0  15935  New York City, NY         1.0   United States             US
 1  15985    Toronto, Canada         2.0          Canada             CA
 2  16010  Vancouver, Canada         2.0          Canada             CA
 3  16909         Boston, MA         1.0   United States             US
 4  16910        Chicago, IL         1.0   United States             US
 5  16940             Online         NaN             NaN            NaN
 6  17706          Miami, FL         1.0   United States             US
 7  17731         London, UK        11.0  United Kingdom             GB

    state.id        state.name state.abbrev  state.keyword  city.id  city.name  \
 0      34.0          New York           NY       new-york   1507.0        NYC
 1       NaN               NaN          NaN            NaN   1547.0    Toronto
 2      71.0  British Columbia           BC                 31138.0  Vancouver
 3      23.0     Massachusetts           MA  massachusetts     47.0     Boston
 4      15.0          Illinois           IL       illinois     39.0    Chicago
 5       1.0            Online       Online         online      NaN        NaN
 6      11.0           Florida           FL        florida     31.0      Miami
 7       NaN               NaN          NaN            NaN  31176.0     London

     city.keyword        school  school_id
 0  new-york-city  brainstation      10571
 1        toronto  brainstation      10571
 2      vancouver  brainstation      10571
 3         boston  brainstation      10571
 4        chicago  brainstation      10571
 5            NaN  brainstation      10571
 6          miami  brainstation      10571
 7         london  brainstation      10571  ,
       id                       description  country.id   country.name  \
 0  15948  New York City, NY, United States         1.0  United States
 1  17447                            Online         NaN            NaN

   country.abbrev  state.id state.name state.abbrev state.keyword  city.id  \
 0             US        34   New York           NY      new-york   1507.0
 1            NaN         1     Online       Online        online      NaN

   city.name   city.keyword   school  school_id
 0       NYC  new-york-city  beginex      10546
 1       NaN            NaN  beginex      10546  ,
       id       description  country.id country.name country.abbrev  city.id  \
 0  16031     Madrid, Spain          12        Spain             ES    31052
 1  16032  Barcelona, Spain          12        Spain             ES    31170
 2  16151   Valencia, Spain          12        Spain             ES    31114

    city.name city.keyword       school  school_id
 0     Madrid       madrid  uxer-school      11151
 1  Barcelona    barcelona  uxer-school      11151
 2   Valencia     valencia  uxer-school      11151  ]

In [6]:
locations = pd.concat(locations_list)
locations

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
5,16375,"Miami, FL, United States",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,ironhack,10828
6,16376,"Madrid, Spain",12.0,Spain,ES,31052.0,Madrid,madrid,NaN,NaN,NaN,NaN,ironhack,10828
7,16377,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,NaN,NaN,NaN,ironhack,10828
8,16709,"Lisbon, Portugal",28.0,Portugal,PT,31075.0,Lisbon,lisbon,NaN,NaN,NaN,NaN,ironhack,10828
9,17233,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,ironhack,10828
0,15935,"New York City, NY",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,brainstation,10571
1,15985,"Toronto, Canada",2.0,Canada,CA,1547.0,Toronto,toronto,NaN,NaN,NaN,NaN,brainstation,10571
2,16010,"Vancouver, Canada",2.0,Canada,CA,31138.0,Vancouver,vancouver,71.0,British Columbia,BC,,brainstation,10571
3,16909,"Boston, MA",1.0,United States,US,47.0,Boston,boston,23.0,Massachusetts,MA,massachusetts,brainstation,10571
4,16910,"Chicago, IL",1.0,United States,US,39.0,Chicago,chicago,15.0,Illinois,IL,illinois,brainstation,10571
5,16940,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,brainstation,10571
6,17706,"Miami, FL",1.0,United States,US,31.0,Miami,miami,11.0,Florida,FL,florida,brainstation,10571
7,17731,"London, UK",11.0,United Kingdom,GB,31176.0,London,london,NaN,NaN,NaN,NaN,brainstation,10571
0,15948,"New York City, NY, United States",1.0,United States,US,1507.0,NYC,new-york-city,34.0,New York,NY,new-york,beginex,10546
1,17447,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,beginex,10546
0,16031,"Madrid, Spain",12.0,Spain,ES,31052.0,Madrid,madrid,NaN,NaN,NaN,NaN,uxer-school,11151
1,16032,"Barcelona, Spain",12.0,Spain,ES,31170.0,Barcelona,barcelona,NaN,NaN,NaN,NaN,uxer-school,11151
2,16151,"Valencia, Spain",12.0,Spain,ES,31114.0,Valencia,valencia,NaN,NaN,NaN,NaN,uxer-school,11151

In [7]:
courses = pd.concat(courses_list)
courses.head(10)

                             courses        school  school_id
0            Cyber Security Bootcamp      ironhack      10828
1            Cybersecurity Part-Time      ironhack      10828
2            Data Analytics Bootcamp      ironhack      10828
3           Data Analytics Part-Time      ironhack      10828
4              UX/UI Design Bootcamp      ironhack      10828
5             UX/UI Design Part-Time      ironhack      10828
6           Web Development Bootcamp      ironhack      10828
7          Web Development Part-Time      ironhack      10828
0   Cybersecurity Certificate Course  brainstation      10571
1  Data Analytics Certificate Course  brainstation      10571

In [8]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,brainstation,10571
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,brainstation,10571

In [9]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,brainstation.io,"<span class=""truncatable""><p>BrainStation is t...",https://d92mrp7hetgfk.cloudfront.net/images/si...,brainstation,10571
0,www.beginex.com,"<span class=""truncatable""><p>Beginex is a sele...",https://d92mrp7hetgfk.cloudfront.net/images/si...,beginex,10546
0,www.uxerschool.com,"<span class=""truncatable""><p>UXER School is an...",https://d92mrp7hetgfk.cloudfront.net/images/si...,uxer-school,11151

In [10]:
def ident (row):
    if row["school"]=="ironhack":
        return 10828
    elif row["school"]=="uxer-school":
        return 11151
    elif row["school"]=="beginex":
        return 10546
    else: return 10571

comments["school_id"]=comments.apply(ident,axis=1)

In [11]:
import sqlalchemy as sqla

engine = sqla.create_engine("mysql+mysqlconnector://{user}:{pw}@localhost:3306/{db}".format(user="root",pw="""asdJ23LK231J($"AD&/(&%$%$A23""",db="data_lake"))

In [12]:
locations.to_sql("locations",con=engine,if_exists="append",chunksize=1000)

23

In [13]:
schools.to_sql("schools",con=engine,if_exists="append",chunksize=100000000)

4

In [14]:
comments=comments.drop(["user","comments"],axis=1)
comments.to_sql("comments",con=engine,if_exists="append",chunksize=100000000)

1600

In [15]:
badges.to_sql("badges",con=engine,if_exists="append",chunksize=100000000)

10

In [16]:
courses.to_sql("courses",con=engine,if_exists="append",chunksize=100000000)

34

In [17]:
data={"location":["Europe","USA","Europe","USA"],"school_id":[10828,10571,11151,10546]}

locations_2=pd.DataFrame(data=data)

locations_2.to_sql("locations_2",con=engine,if_exists="append",chunksize=100000000)

4